table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: lightgreen
}

.delete > i {
    color: red
}

.mat-sidenav-container{
    float: left;
    width: 10%;
}

.mat-card-content{
    float: right;
    width: 90%;
}
