<mat-sidenav-container><app-nav></app-nav></mat-sidenav-container>
<mat-card-content>
    <mat-card>
        <form>
          <mat-form-field>
            <input matInput placeholder="Cargo" [(ngModel)]="roles.role" name="role" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dependencia</mat-label>
              <select matNativeControl (change)="selectDependency($event)">
                <option *ngFor="let option of options" [value]="option.id" [selected]="selectedDependency === option.dependency"
                        >{{ option.role }}</option>
              </select>
          </mat-form-field>
        </form>
        
        <button mat-raised-button (click)="back()">Cancelar</button>
        <button mat-raised-button (click)="updateRole()" color="primary"> Atualizar</button>
    </mat-card>
</mat-card-content>