<div class="body-class">
<mat-sidenav-container><app-nav></app-nav></mat-sidenav-container>
<mat-card-content>
    <mat-card>
        <mat-card-title>Novo Cargo</mat-card-title>
        <form>
          <mat-form-field>
            <input matInput placeholder="Cargo" [(ngModel)]="roles.role" name="role" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Dependencia</mat-label>
              <select matNativeControl (change)="selectDependency($event)">
                <option value="" selected disabled></option>
                <option *ngFor="let option of options" [value]="option.id"
                        >{{ option.role }}</option>
              </select>
          </mat-form-field>
        </form>
        
        <button mat-raised-button (click)="back()">Cancelar</button>
        <button mat-raised-button (click)="createRole()" color="primary"> Criar</button>
    </mat-card>
</mat-card-content>
</div>
