<div class="body-class"><mat-sidenav-container><app-nav></app-nav></mat-sidenav-container>
<mat-card-content>
  <mat-card *ngIf="task">
    <mat-card-title >
      <strong>ID:</strong> {{task.id}}
      <strong>Titulo:</strong> {{task.title}}

      
      <button mat-raised-button (click)="followUp()">Acompanhamento</button>

      <button mat-raised-button *ngIf="hasTechnicalAcess && task.status != 3"  (click)="priorityTask('Alto')">Alto</button>

      <button mat-raised-button *ngIf="hasTechnicalAcess && task.status != 3"  (click)="priorityTask('Medio')">Medio</button>

      <button mat-raised-button *ngIf="hasTechnicalAcess && task.status != 3"  (click)="priorityTask('Baixo')">Baixo</button>

    </mat-card-title>

      
      
      <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          
        >
        <div *ngIf="tile.cols == 4">
          <strong>{{tile.label}}</strong> {{tile.value | date}} 
        </div>
        <div *ngIf="tile.cols != 4">
          <strong>{{tile.label}}</strong> {{tile.value}}
        </div>
        
        </mat-grid-tile>
      </mat-grid-list>

      <button mat-raised-button (click)="back()">Voltar</button>

    <div class="right">
      <button mat-raised-button *ngIf="hasTechnicalAcess && task.status != 4" (click)="assignToMe()">Atribuir para mim</button>

      <button mat-raised-button *ngIf="hasTechnicalAcess && task.status == 1"  (click)="statusTask(2)">Iniciar Chamado</button>
      <button mat-raised-button *ngIf="hasTechnicalAcess && task.status == 2" (click)="statusTask(3)">Finalizar Chamado</button>
      <button mat-raised-button *ngIf="hasTechnicalAcess && task.status != 3" (click)="statusTask(4)">Cancelar Chamado</button>
    </div>

  </mat-card>
</mat-card-content>
</div>
