table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: lightgreen
}

.delete > i {
    color: red
}

mat-card-title .mat-raised-button{
    margin-left: 10px !important;
    float: right;
}

mat-card .right{
    float: right;
}
mat-card .right .mat-raised-button{
    margin-left: 10px !important;
}
