/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.v-middle {
  vertical-align: middle;
}

.msg-sucess {
  background-color: lawngreen;
  color: white;
}

.msg-error {
    background-color: crimson;
    color: white;
  }

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  margin-right: 20px 15px 0px 0px;
}
