<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Titulo" [(ngModel)]="task.title" name="title" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descrição" [(ngModel)]="task.description" name="description" />
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateTask()" color="accent">
      Atualizar
    </button>
  
    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </mat-card>
  