<div class="body-class">
<mat-sidenav-container><app-nav></app-nav></mat-sidenav-container>
<mat-card-content>
    <mat-card>
        <div class="body-button">
          <mat-card-title>
              <button mat-raised-button (click)="editRole()" color="primary"> Editar</button>
          </mat-card-title>
        </div>
          <form>
          <mat-form-field>
            <mat-label>Cargo</mat-label>
            <input matInput placeholder="Cargo" [(ngModel)]="roles.role" name="role" disabled/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dependencia</mat-label>
            <input matInput placeholder="Dependencia" [(ngModel)]="roles.dependency_role" name="dependency" disabled/>
          </mat-form-field>
        </form>
        
      
        <button mat-raised-button (click)="back()">Voltar</button>
        
      </mat-card>
</mat-card-content>
</div>