
<div class="body-class">
<mat-sidenav-container><app-nav></app-nav></mat-sidenav-container>
<mat-card-content>
    <mat-card>
        <form>
            <mat-form-field>
            <input matInput placeholder="Cargo" [(ngModel)]="roles.role" name="role" disabled/>
            </mat-form-field>
            <mat-form-field>
            <input matInput placeholder="Dependencia" [(ngModel)]="roles.dependency_role" name="dependency" disabled/>
            </mat-form-field>
        </form>
    </mat-card>

    <button mat-raised-button (click)="back()">Voltar</button>
    <button mat-raised-button (click)="deleteRole()" color="primary"> Confirmar Exclusão</button>
</mat-card-content>
</div>