<div class="body-class">
<mat-sidenav-container><app-nav></app-nav></mat-sidenav-container>
<mat-card-content>
    <mat-card>
        <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="users.name" name="name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome de Usuario" [(ngModel)]="users.username" name="username" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Senha" [(ngModel)]="users.password" name="password" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Dependencia</mat-label>
            <select matNativeControl (change)="selectDependency($event)">
              <option value="" selected disabled></option>
              <option *ngFor="let option of options" [value]="option.id"
              [selected]="selectedDependency === option.id" >{{ option.role }}</option>
            </select>
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="back()">Voltar</button>
        <button mat-raised-button (click)="atualizarUser()" color="primary"> Atualizar</button>
    </mat-card>
</mat-card-content>
</div>