<div class="body-class">
<mat-card-content>
  <mat-card>
      <mat-card-title>Login</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome de usuario" [(ngModel)]="users.username" name="username" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Senha" [(ngModel)]="users.password" name="password" />
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="login()" color="primary">
        Entrar
      </button>
    
  </mat-card>
</mat-card-content>
</div>